header {
    border-color: #8c8c8c;
    border-style: dashed;
    margin: 25px;
}

.body-blue {
    background-color: #cce6ff;
    font-family: Arial, Helvetica, sans-serif;
}

.body-pink {
    background-color: #ffe6e6;
    font-family: Arial, Helvetica, sans-serif;
}

.body-yellow {
    background-color:  #ffffcc;
    font-family: Arial, Helvetica, sans-serif;
}

.img-style {
    width: 400px;
}

.img-bar {
    width: 80%;
}

h1 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #8c8c8c;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.intro {
    display: inline-block;
    padding: 5px 50px;
    background-color: whitesmoke;
    border-radius: 20px;
    align-self: center;
}

.text-style {
    display: inline-block;
    padding: 30px 10px;
    font-size: larger;
    font-weight: bold;
    border-radius: 20px;
    box-shadow: 5px 5px #666666;
}

.text-style.blue-left {
    background-color: #80c1ff;
    align-self: flex-start;
    margin-left: 50px;
}

.text-style.right {
    background-color: azure;
    align-self: flex-end;
    margin-right: 50px;
} 

.text-style.pink-left {
    background-color: #ffcccc;
    align-self: flex-start;
    margin-left: 50px;
}

.text-style.yellow-left {
    background-color:  #ffff99;
    align-self: flex-start;
    margin-left: 50px;
}

.ul-blue {
    padding: 15px 0px;
    list-style: none;
    display: flex;
    justify-content: center;
    font-weight: bold;
    border-style:solid;
    border-color: #1a8cff;
    border-radius: 10px;
    background-color: #1a8cff ;
    gap: 10%;
}

.ul-pink {
    padding: 15px 0px;
    list-style: none;
    display: flex;
    justify-content: center;
    font-weight: bold;
    border-style:solid;
    border-color: #ff9999;
    border-radius: 10px;
    background-color: #ff9999 ;
    gap: 10%;
}

.ul-yellow {
    padding: 15px 0px;
    list-style: none;
    display: flex;
    justify-content: center;
    font-weight: bold;
    border-style:solid;
    border-color: 	#ffff4d;
    border-radius: 10px;
    background-color: 	#ffff4d;
    gap: 10%;
}

a{
    text-decoration: none;
    border-style: dotted;
    border-width: 2px;
}

a:link {
    color: black;
}

a:hover {
    color: azure;
} 


.message {
    display: block;
    color: grey;
    border-style:solid;
    border-color: black;
    border-radius: 10px;
    padding: 15px;
    margin-top: 50px;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 5px;
    width: 550px;
}

.gallery-grid img {
  width: 100%;
  height: 250px;
}


th {
    border-style:solid ;
    border-color: white;
    border-width: 1px;
    padding: 10px;
}

td {
    border-style: solid;
    border-color: white;
    border-width: 1px;
    padding: 10px 100px;
}
